@CHARSET "UTF-8";

table.horizontal-list-table, th, td {
	margin : 3%;
	width : 90%;
	border-collapse: collapse;
	border: 1px solid #ccc;
	line-height: 1.5;
}

table.horizontal-list-table th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	font-size: 0.8em;
	text-align: center;
	vertical-align: top;
	background: #BABABA;
	color: #ffffff;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
}

table.horizontal-list-table td {
	width: 350px;
	padding: 10px;
	font-size: 0.8em;
	text-align: center;
	vertical-align: top;
	background:#f4f4f4;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

table.horizontal-list-table {
	width: 90%;
	border-collapse: separate;
	border-spacing: 0;
	text-align: left;
	font-size: 1.4rem;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: $line-height-computed;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.submit_btn_box{
	margin-left:2%;
	margin-bottom:10px;
}
h2{
	margin-left:50px;
}
p{
	margin-left:50px;
}


.error-message{

	margin:10px 38px 20px 50px;
	display:inline-block;
	font-size:1rem;
	color:red;

}